<% content_for :mFrame do %>

    <div id="lorem_ipsum" data-mercury="full">
Lorem ipsum dolor sit amet, mauris vivamus neque elit dictum, ante cras porttitor metus massa ut eu, mollis in, leo eu, sed sodales dictumst commodo dui. Sodales enim pellentesque a nostra, est gravida, mauris exercitation viverra nulla vitae, risus molestie libero. Sed at nibh magnis arcu eget sed. Turpis amet non et. Et donec at a vel ac, eleifend pede vulputate, nec porta, dignissim vestibulum mollis, vitae nulla pede rutrum vivamus vivamus cursus. Leo turpis erat imperdiet enim metus, a pellentesque vestibulum cras, placeat dui at massa proin. A cras est accumsan et sollicitudin sollicitudin. Augue porta velit in urna eget lectus, blandit et maecenas a sed mauris, hac nulla, integer inceptos quam turpis tincidunt fermentum vivamus. Erat egestas diam et sed, lorem maecenas aliquam maecenas, cras eget vestibulum. Id gravida interdum lobortis massa, lobortis convallis non error sem maecenas tempor, pellentesque elit magna magna tellus diam orci. Urna mauris mauris, lectus mi integer tempus id id vel, leo mi pede, justo quis.
    </div>

<% end %>


<%= link_to "Edit", "/editor" + request.path  %>