<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>
<% content_for :mBody do %>
	<%= stylesheet_link_tag  'table', media: 'all' %>
    <%= javascript_include_tag 'application' %>
	<style>
	body{
		background-attachment:fixed;
		background-repeat: no-repeat;
	}
	</style>
	<script>
		var bgimages=new Array()
		bgimages[0]="//i.imgur.com/VOqwNZi.jpg"
		bgimages[1]="//i.imgur.com/qMndkxE.jpg"
		bgimages[2]="//i.imgur.com/ttj3paK.jpg?1"
		//preload images
		var pathToImg=new Array()
		for (i=0;i<bgimages.length;i++){
			pathToImg[i]=new Image()
			pathToImg[i].src=bgimages[i]
		}
		var inc=-1
		function bgSlide(){
			if (inc<bgimages.length-1)
			inc++
			else
			inc=0
			document.body.background=pathToImg[inc].src
		}

		if (document.all||document.getElementById)
			window.onload=new Function('setInterval("bgSlide()",6000)')

</script>
<% end %> 
<% content_for :mFrame do %>
<% end %>
<div id="headerwrap" id="home" name="home">
	<div class="header-title">
		<div id="header-text">PROMOTE CO-OP OFFERS</div>
		<div id="header-text">SHARE CO-OP EXPERIENCE</div>
	</div>
</div>