<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
    <%= stylesheet_link_tag 'table', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :mFrame do %>

<div class="container">
    <div class="row">
        <p class="centered" style="font-size: 50px; font-weight: bold"> BEFORE PROCEEEDING</p> 
        <hr>
        <div class="col-md-3 "></div>
        <div class="col-md-6" >
            <p style="font-weight: bold">IN ORDER TO MAKE A POST, YOU NEED TO REQUEST THE EDITOR PRIVILEGE</p>
            <br>
            <p style="font-weight: bold">CLICK THE LINK BELOW TO GENERATE AUTHENTICATION LINK WHICH WILL BE SENT TO YOUR EMAIL</p><br>
            <%= link_to "GENERATE LINK", mail_path, class: "button btn-lg btn-default ", style: "text-decoration: none" %>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <button class="button btn-lg btn-default" type="button" onclick="lastUrl()">BACK</a>
        </div>
    </div>
</div>

     
        

  

<% end %>


