<div class="table-title">
        <h3>Editing Preference</h3>
</div>

<%= render 'form' %>

<%= link_to '<button class="button" type="button">Show</button>'.html_safe, @preference %> 
<%= link_to '<button class="button" type="button">Back</button>'.html_safe, root_path %>
