<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @preference.name %>
</p>

<%= '<button class="button" type="button">Edit</button>'.html_safe, edit_preference_path(@preference) %> |
<%= link_to '<button class="button" type="button">Show</button>'.html_safe, preferences_path %>
