<p id="notice"><%= notice %></p>

<div class="table-title">
  <h3>Name:</br></h3>
  <h3><%= @preference.name %></h3>
</div>

<%=link_to '<button class="button" type="submitbutton">Edit</button>'.html_safe, edit_preference_path(@preference) %> 
<button class="button" type="button" onclick="lastUrl()">Back</a>
