
    <% if user_signed_in? %>
        
        <b style="font-size: 16pt;">Hello <span style="color: #b2191b;"><%= current_user.display_name %></span>! </b>
        <%= link_to '<button class="button" type="button">Sign out</button>'.html_safe, destroy_user_session_path, :method => :delete %>
    <% else %>
        <b style="font-size: 20pt;">Welcome to CoopR&S! </b>
        <%= link_to '<button class="button" type="button">Sign up</button>'.html_safe, new_user_registration_path %> or <%= link_to '<button class="button" type="button">Sign in</button>'.html_safe, new_user_session_path %>.
    <% end %>
