<% content_for :mLogin do %>
    <%= render :partial => '/login/login' %>
<% end %>

<% content_for :mFrame do %>
<script type="text/javascript">
  updateUrl();
</script>

     <h1>Я — Чайка</h1>
<% end %>
