<div class="table-title">
        <h3>Editing Post</h3>
</div>

<%= render 'form' %>

<%= link_to '<button class="smallbutton" type="smallbutton">Show</button>'.html_safe, @post %> 
<%= link_to '<button class="smallbutton" type="smallbutton">Back</button>'.html_safe, posts_path %>
