<div class="table-title">
        <h3>New Post</h3>
</div>

<%= render 'form' %>

<% if current_user.admin? %>
        <a href="#" onclick="lastUrl(); return false; ">Back</a>
<% else %>
        <%= link_to '<button class="button" type="button">Back</button>'.html_safe, root_path %>
<% end %> 
