<div id="postwrap" id="home" name="home">
	<div class="header-title">
		<div id="header-text"></div>
		<div id="header-text">IT ONLY TAKES A MINUTE TO START</div>
		<div id="header-text">CONTRIBUTING TO THE WEBSITE</div>
	</div>
</div>

<%= render 'form' %>


