/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /*---------------------------------GENERAL------------------------------------*/
  * {
  border-radius: 0 !important;
 }

.centered{
    text-align: center;
}

.redirect_link{
    color: red;
    font-weight: bold;
}

/*body div, body p body li, html{*/
/*    font-family: 'Droid Serif';*/
/*}*/

.about, company{
    font-family: 'Archivo Narrow';
}



/*-------------------------------WRAPPERS-------------------------------------------*/

#indexwrap{
    width: 100%;
    height: 100%;
    background-image: url(../assets/6god.jpg); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1.0;
    visibility: inherit;
    z-index: 20;
	min-height: 750px;
}

#picturewrap {
	width: 100%;
    height: 100%;
    background-image: url(../assets/6god.jpg); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
	min-height: 540px;display: 
}

#headerwrap {
    width: 100%;
    height: 100%;
    background-image: url(../assets/desk.jpg); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
	min-height: 650px;
}

#footerwrap {
	/*background: #1C1F2A;*/
	background-color: #121a1c;
	border-top: #1C1F2A;
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	min-height: 185px;
}



/*---------------------HOME PAGE------------------------------------*/

#header-text{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.header-title{
    text-align: center;
    padding-top: 250px;
}

#header-text{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}


.about{
	margin-top: 100px;
	margin-bottom: 170px;
}




#footerMenu{
	font-size: 10.5px;
	color: #C4C4C0;
	font-family: 'Lato', sans-serif;
}

#footerMenu li{
	display: inline;
}

#footerMenu li > a{
	color: #C4C4C0;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	margin-right: 14px;
}

#footerMenu li> a:hover{
	background-color: white;
}

.company{
	margin-top: 120px;
	margin-bottom: 120px;
}

.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(0.5); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}

.img-resposive{
	-webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}



/*------------------------------------PDF------------------------------------------*/

@media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }
}

/*------------------------BUTTONS----------------------------*/



 .hidden {
    display: none;
 }
 

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor:pointer;
}

a.display_name:link{
    color: #b2191b;
    text-decoration: none;
}
a.display_name:visited{
    color: #b2191b;
}
a.display_name:hover{
    color: blueviolet;
    text-decoration: underline;
}
a.display_name:active{
    color: #b2191b;
    text-decoration: underline;
}

div.padding {
    height: 8px;
    margin-top: -4px;
    margin-bottom: -4px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    background-color: #1b1e24;
    border: 4px solid DDD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position:relative;
    z-index: 4;
}

div.text-button {
	text-align: center;
	background-color: #DDD;
	border: 5px solid #DDD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.text-button:link{
	border: 5px solid #DDD;
}
div.text-button:visited{
	border: 5px solid #DDD;
    color: #000;
}
div.text-button:hover{
	border: 5px solid #DDD;
    color: #333;
}
div.text-button:active{
	border: 5px solid #DDD;
    color: #000;
}

a.text-button {
	margin: 0px;
	border: 0px;
    font-size: 100%;
    vertical-align:middle;
    text-decoration: none;
}

a.text-button:link{
    color: #000;
}
a.text-button:visited{
    color: #000;
}
a.text-button:hover{
    color: #333;
}
a.text-button:active{
    color: #000;
}

.notice{
    color:red;font-weight: bold;top:0;
}
.alert{
    color:red;font-weight: bold;top:0;
}
.button:hover {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.1s;
            background-color: #ED6A5A;
            color: white;
            border: 2px solid #ED6A5A;
}
.button_compact:hover {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.1s;
            background-color: #ED6A5A;
            color: white;
            border: 2px solid #ED6A5A;
            
}
.button_compact {
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            font-size: 16px;
            color: #ED6A5A;
            border: 1px solid #ED6A5A;
            border-radius: 5px;
            vertical-align: center;
            height: 50px;
            width: 150px;
            background-color: white;
            font-weight: bold;

}
.button_unselected:hover {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.1s;
            background-color: #D5DDE5;
            color: #1b1e24;
            border: 2px solid black;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 0px 0px 0 rgba(0,0,0,0.19);
}
.button_unselected {
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            font-size: 14pt;
            color: #2A221A;
            border: none;
            border-radius: 5px;
            vertical-align: center;
            height: 50px;
            width: 150px;
            background-color: #FFF;
            border: 2px solid #222;
            text-shadow: 1px 1px 1px #121212;
}
.button_selected{
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            font-size: 14pt;
            color: #D5DDE5;
            border: none;
            border-radius: 5px;
            vertical-align: center;
            height: 50px;
            width: 150px;
            margin-top: 30px;
            margin-right: 5px;
            background-color: #1b1e24;
            text-shadow: 1px 1px 1px #bcbcbc;
}
.button{
			font-size: 14px;
			font-weight: bold;
			border: 1px solid #ED6A5A;
			vertical-align: center;
			color: #ED6A5A;
			background-color: white;
}

.backButton{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: #5CA4A9;
    border: 1px solid #5CA4A9;
    border-radius: 5px;
    vertical-align: center;
    height: 50px;
    width: 150px;
    background-color: white;
    font-weight: bold;
}

.backButton:hover {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.1s;
            background-color: #5CA4A9;
            color: white;
            border: 2px solid #5CA4A9;
            
}

.submitbutton,.loginbutton:hover {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.1s;
	    	background-color: #D5DDE5;
            color: #1b1e24;
            border: 2px solid black;
	        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 0px 0px 0 rgba(0,0,0,0.19);
}
.submitbutton{
            margin-left: 5px;
			font-size: 12pt;
			color: #D5DDE5;
			border: none;
			border-radius: 5px;
			vertical-align: center;
			height: 30px;
			width: 150px;
			margin-top: 30px;
			margin-right: 5px;
			background-color: #1b1e24;
			text-shadow: 1px 1px 1px #bcbcbc;
}

.loginbutton{
        margin-left: 5px;
		font-size: 12pt;
		color: #D5DDE5;
		border: none;
		border-radius: 5px;
		vertical-align: center;
    	height: 50px;
		width: 150px;
		margin-top: 30px;
		margin-right: 5px;
		background-color: #1b1e24;
		text-shadow: 1px 1px 1px #bcbcbc;
}
.pro-form{
      margin-left: 10%;
      width: 40em;
      font-size: 20px;
      background: #D5DDE5;
      border-radius: .3em; 
}
.pro-form .field{
    background: #D5DDE5;
}
.whole-head{
    height: 150px;
    top: 0;
    width: 100%;
    position: fixed;
    background-repeat: repeat-x;
}

.project-header{
  	padding: 0.01em 16px;
	display: block;
    justify-content: space-around;
    height: 78px;
    padding-top: 20px;
    line-height: 50px;
    overflow: hidden;
    font-size: 15px;
    
}

.top-navbar{
    top: 120px;
    display: block;
    position: absolute;
    width: 100%;
}
.content{
    padding-top:200px;
    position: static;
}
.project-header .slogan{
  	
    font-family: 'Lato', sans-serif; 
    text-decoration: none;
    letter-spacing: 1px;
    color: #555555;
    display: block;
    position: fixed;
    right: 0;
  	top: 65px;
  	overflow: hidden;
}
.project-title {
	margin-left: 7%;
	width: auto;
    font-family: 'Lato', sans-serif; 
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 37px;
    letter-spacing: 1px;
    color: #555555;
    display: block;
    position: absolute;
    top: 17px;
    padding-left: 1px;
    font-weight: bold;
}

.project-header .toptext {
    position: absolute;
	overflow: hidden;
    padding-left: 1em;
    text-align: center;
    display: block;
    top: 84px;
    margin-left: 7%;
    letter-spacing: 4px;
    font-family: "Segoe UI",Arial,sans-serif;
	width: auto;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.R-S{
    display: inline-block;
    font-weight: 900;
    font-size: 47px;
    margin: 0.2em;
    position: relative;
    color: #4E5066;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
}

.R-S:before, .R-S:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.R-S, .R-S:before, .R-S:after{
  transition: all 0.3s ease-in-out;
}
.R-S:before{
    color: #1b1e24;
    text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
    z-index: 3;
    transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.R-S:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.R-S:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.R-S:hover:after{
    transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}
a {
    background-color: transparent;
}




.topnav-icons {
    height: 25px;
}
.signout-icon {
    height: 25px;
    vertical-align:middle;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 18px;
    font-weight: bold;
    vertical-align:middle;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: center;
    padding: 18px 30px;
    text-decoration: none;
    font-weight: bold;
}

/*li a:hover, .dropdown:hover .dropbtn {*/
/*    background-color: #4E5066;*/
/*}*/

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4E5066;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    
}

.dropdown-content a {
    color: #D5DDE5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: 1px solid #C1C3D1;
    border-right: none;
    border-left: none;
}

.dropdown-content a:hover {background-color: #000333}

.dropdown:hover .dropdown-content {
    display: block;
}

.show-post {
  margin-left: 10%;
  width: 60%;
  font-size: 20px;
  background: #D5DDE5;
  border-radius: .3em;
}

.text-div{
    margin-left: 20%;
    margin-right: 20%;
}

 /*===============================LOGIN======================================*/

.login-form{
    position: static;
    margin-top: 100px;
    width: 900px;
    margin-left:30%;
   
}


