/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require table
 *= require_self
 */
 
body {
  position: relative;
  font-family: "Arial", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
  padding: 0;
}

label {
  font-weight:bold;
}

input {
  border-style: ridge;
  font: normal 1em Verdana, sans-serif;
  color:#333;
}
textarea {
  font: normal 1em Verdana, sans-serif;
  border-style: ridge;
  display:block;
  color:#333;
}

@media print {
  body {
    background-color: #FFF;
  }

  #container {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  #line_items {
    page-break-before: always;
  }
  
  #pdf_link {
    display: none;
  }
}


 
 .hidden {
    display: none;
 }

 .toggled {
    text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF;
 }
 

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
  cursor:pointer;
}

a.display_name:link{
    color: #b2191b;
    text-decoration: none;
}
a.display_name:visited{
    color: #b2191b;
}
a.display_name:hover{
    color: blueviolet;
    text-decoration: underline;
}
a.display_name:active{
    color: #b2191b;
    text-decoration: underline;
}

div.padding {
    height: 8px;
    margin-top: -4px;
    margin-bottom: -4px;
    background-color: #1b1e24;
    border: 4px solid DDD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    position:relative;
    z-index: 1;
}

div.text-button {
	text-align: center;
	background-color: #DDD;
	border: 5px solid #DDD;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

div.text-button:link{
	border: 5px solid #DDD;
}
div.text-button:visited{
	border: 5px solid #DDD;
    color: #000;
}
div.text-button:hover{
	border: 5px solid #DDD;
    color: #333;
}
div.text-button:active{
	border: 5px solid #DDD;
    color: #000;
}

a.text-button {
	margin: 0px;
	border: 0px;
    font-size: 100%;
    vertical-align:middle;
    text-decoration: none;
}

a.text-button:link{
    color: #000;
}
a.text-button:visited{
    color: #000;
}
a.text-button:hover{
    color: #333;
}
a.text-button:active{
    color: #000;
}

.notice{
    color:red;font-weight: bold;top:0;
}
.alert{
    color:red;font-weight: bold;top:0;
}
.button:hover {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.1s;
	    	background-color: #D5DDE5;
            color: #1b1e24;
            border: 2px solid black;
	        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 0px 0px 0 rgba(0,0,0,0.19);
}
.button_compact:hover {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.1s;
            background-color: #D5DDE5;
            color: #1b1e24;
            border: 2px solid black;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 0px 0px 0 rgba(0,0,0,0.19);
}
.button_compact {
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            font-size: 14pt;
            color: #D5DDE5;
            border: none;
            border-radius: 5px;
            vertical-align: middle;
            height: 50px;
            width: 150px;
            background-color: #1b1e24;
            text-shadow: 1px 1px 1px #bcbcbc;
}
.button_unselected:hover {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.1s;
            background-color: #D5DDE5;
            color: #1b1e24;
            border: 2px solid black;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 0px 0px 0 rgba(0,0,0,0.19);
}
.button_unselected {
            margin-top: 30px;
            margin-left: 0px;
            margin-right: 2%;
            margin-bottom: 0px;
            font-size: 22pt;
            color: #2A221A;
            border: none;
            border-radius: 5px;
            vertical-align: middle;
            height: 50px;
            min-width: 150px;
            width: 25%;
            background-color: #FFF;
            border: 2px solid #222;
            text-shadow: 1px 1px 1px #121212;
            position: relative;
}
.button_selected{
            margin-top: 30px;
            margin-left: 0px;
            margin-right: 2%;
            margin-bottom: 0px;
            font-size: 22pt;
            color: #D5DDE5;
            border: none;
            border-radius: 5px;
            vertical-align: middle;
            height: 50px;
            min-width: 150px;
            width: 25%;
            background-color: #1b1e24;
            text-shadow: 1px 1px 1px #bcbcbc;
            position: relative;
}
.button{
            margin-left: 1%;
			font-size: 14pt;
			color: #D5DDE5;
			border: none;
			border-radius: 5px;
			vertical-align: middle;
			height: 50px;
			width: 150px;
			margin-top: 30px;
			margin-right: 5px;
			background-color: #1b1e24;
			text-shadow: 1px 1px 1px #bcbcbc;
}
.submitbutton,.loginbutton:hover {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.1s;
	    	background-color: #D5DDE5;
            color: #1b1e24;
            border: 2px solid black;
	        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 0px 0px 0 rgba(0,0,0,0.19);
}
.submitbutton{
            margin-left: 5px;
			font-size: 12pt;
			color: #D5DDE5;
			border: none;
			border-radius: 5px;
			vertical-align: middle;
			height: 30px;
			width: 150px;
			margin-top: 30px;
			margin-right: 5px;
			background-color: #1b1e24;
			text-shadow: 1px 1px 1px #bcbcbc;
}
.loginbutton{
        margin-left: 5px;
		font-size: 12pt;
		color: #D5DDE5;
		border: none;
		border-radius: 5px;
		vertical-align: middle;
    	height: 50px;
		width: 150px;
		margin-top: 30px;
		margin-right: 5px;
		background-color: #1b1e24;
		text-shadow: 1px 1px 1px #bcbcbc;
}
.pro-form{
      margin-left: 10%;
      width: 40em;
      font-size: 20px;
      background: #D5DDE5;
      border-radius: .3em; 
}
.pro-form .field{
    background: #D5DDE5;
}
#whole-head {
    top: 0;
    width: 100%;
    position: fixed;
    background-image: url("//i.imgur.com/XY70hDK.jpg");
    background-repeat: repeat-x;
    z-index: 2;
    min-width: 480px;
}

#project-header {
  	padding: 0.01em 16px;
    margin-bottom: 10px;
	display: block;
    justify-content: space-around;
    line-height: 50px;
    overflow: hidden;
    font-size: 15px;
}

#top-navbar{
    width: 100%;
    min-width: 480px;
    min-height: 32px;
    list-style-type: none;
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-padding-start: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    background-color: #1b1e24;
    font-size: 24px;
    font-weight: bold;

    z-index: 2;
}

div.content{
    margin-top:150px;
    position: static;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    min-width: 480px;
}
.project-header{
    font-family: 'Lato', sans-serif; 
    text-decoration: none;
    letter-spacing: 1px;
    color: #555555;
    position: fixed;
}
.project-title {
	margin-left: 2%;
    margin-top: 0px;
	width: auto;
    font-family: 'Lato', sans-serif; 
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 37px;
    letter-spacing: 1px;
    color: #555555;
    display: block;
    padding-left: 1px;
    font-weight: bold;
}

.project-header .toptext {
    padding-left: 1em;
    top: 84px;
    margin-left: 5%;
    letter-spacing: 4px;
    font-family: "Segoe UI",Arial,sans-serif;
	width: auto;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.R-S{
    display: inline-block;
    font-weight: 900;
    font-size: 47px;
    margin: 0.2em;
    position: relative;
    color: #4E5066;
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 3;
}

.R-S:before, .R-S:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.R-S, .R-S:before, .R-S:after{
  transition: all 0.3s ease-in-out;
}
.R-S:before{
    color: #1b1e24;
    text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
    z-index: 5;
    transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.R-S:after{
    color: rgba(0,0,0,.11);
    z-index:4;
    transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.R-S:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.R-S:hover:after{
    transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

a {
    background-color: transparent;
}

.topnav-icons {
    height: 25px;
    vertical-align: middle;
}

li.top-navbar-list {
    float: left;
}

li.top-navbar-list a {
    color: #D5DDE5;
    text-align: center;
    vertical-align: middle;
    padding: 21px 29px;
    text-decoration: none;
}

li.top-navbar-list a:hover {
    background-color: #4E5066;
}

.show-post {
  margin-left: 10%;
  width: 60%;
  font-size: 20px;
  background: #D5DDE5;
  border-radius: .3em;
}

.text-div{
    margin-left: 20%;
    margin-right: 20%;
}

 /*===============================LOGIN======================================*/

.login-form{
    position: absolute;
    min-width: 420px;
    height: 42px;
    top: -8px;
    right: 8px;
    padding-top: 0px;
    padding-right: 16px;   
    padding-bottom: 0px;
    padding-left: 16px;
    background: #EEE;
    border: 1px solid #333;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 0px 0px 0 rgba(0,0,0,0.19);
}

.login-full{
    position: static;
    margin-top: 200px;
    width: 900px;
    margin-left:5%;
}



@media (max-width: 576px) {
    .icon,.large,.exlarge {
        display: none;
    }

    div.content{
        margin-top: 40px;
    }

    #whole-head{
        background-image: none;
    }

    .project-title {
        display: none;
    }

    #msetting {
        display: none;
    }

    #maction {
        display: none;
    }
}

@media (max-width:800px) and (min-width:576px) {
    .icon,.exlarge {
        display: none;
    }

    li.top-navbar-list a {
        padding: 18px 10px;
    }

    #whole-head{
        height: 80px;
    }

    #maction {
        display: none;
    }

    .project-title {
        margin-left: 0%;
    }

    div.content{
        margin-top: 120px;
    }
}

