form {
  margin-left:10%;
  margin-right:30%;
  padding: 20px;
  border: 1px solid #f2f2f2; 
  background-color: #EBEBEB; 
}
label {
  font-weight:bold;
  margin-top: 15px;
  margin-bottom: 15px;
}
input {
  padding: 4px 5px;
  border:1px solid #eee;
  font: normal 1em Verdana, sans-serif;
  color:#777;
  margin-top: 15px;
  margin-bottom: 15px;
}
textarea {
  margin-left: 10%;
  margin-right: 10%;
  width:80%;
  padding:4px 5px;
  font: normal 1em Verdana, sans-serif;
  border:1px solid #eee;
  height:100px;
  display:block;
  color:#777;
}
.submitbutton { 
  margin: 0; 
  font: bolder 16px Verdana, Sans-serif;
  border: 1px solid #CCC; 
  padding: 4px 5px;
  background: #FFF;
  color: #1b1e24;
}
.submitbutton:hover {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.1s;
	    	    background-color: #D5DDE5;
            color: #1b1e24;
            border: 2px solid black;
	         box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 0px 0px 0 rgba(0,0,0,0.19);
}

.smallbutton:hover {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.1s;
	    	background-color: #D5DDE5;
            color: #1b1e24;
            border: 2px solid black;
	        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 0px 0px 0 rgba(0,0,0,0.19);
		}
.smallbutton{

			font-size: 14pt;
			color: #D5DDE5;
			border: none;
			border-radius: 5px;
			vertical-align: center;
			height: 30px;
			width: 100px;
			background-color: #1b1e24;
			text-shadow: 1px 1px 1px #bcbcbc;
}
.smallbutton{
            margin-left: 10%;
			font-size: 14pt;
			color: #D5DDE5;
			border: none;
			border-radius: 5px;
			vertical-align: center;
			height: 30px;
			width: 100px;
			margin-top: 30px;
			margin-right: -8%;
			background-color: #1b1e24;
			text-shadow: 1px 1px 1px #bcbcbc;
}
