
div.table-title {
  display: block;
  margin: 0px;
  padding: -5px;
  width: 100%;
}

.table-title h3 {
   color: black;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}

.button_unselected:hover {
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.1s;
            background-color: #D5DDE5;
            color: #1b1e24;
            border: 2px solid black;
            box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 0px 0px 0 rgba(0,0,0,0.19);
}
.button_unselected {
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 2%;
            margin-bottom: 0px;
            font-size: 22pt;
            color: #2A221A;
            border-radius: 5px;
            vertical-align: middle;
            height: 50px;
            min-width: 150px;
            width: 25%;
            background-color: #FFF;
            border: 2px solid #222;
            text-shadow: 1px 1px 1px #121212;
            position: relative;
}
.button_selected{
            margin-top: 0px;
            margin-left: 0px;
            margin-right: 2%;
            margin-bottom: 0px;
            font-size: 22pt;
            color: #D5DDE5;
            border: none;
            border-radius: 5px;
            vertical-align: middle;
            height: 50px;
            min-width: 150px;
            width: 25%;
            background-color: #1b1e24;
            text-shadow: 1px 1px 1px #bcbcbc;
            position: relative;
}

.toggleOff {
            margin-top: 0px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 8px;
            padding-top: 6px;
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 8px;
            font-size: 18pt;
            color: #D5DDE5;
            border: none;
            border-radius: 20px;
            vertical-align: middle;
            height: 40px;
            background-color: #363b45;
            text-shadow: 1px 1px 1px #bcbcbc;
            position: relative;
}

.toggleOn {
            margin-top: 0px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 8px;
            padding-top: 6px;
            padding-left: 24px;
            padding-right: 24px;
            padding-bottom: 8px;
            font-size: 18pt;
            color: #D5DDE5;
            border: none;
            border-radius: 20px;
            vertical-align: middle;
            height: 40px;
            background-color: #1b1e24;
            text-shadow: 1px 1px 1px #bcbcbc;
            position: relative;
}

/*** Table Styles **/

.table-list-users{
    
  background: white;
  border-top: none;
  border-radius:3px;
  border-collapse: collapse;
  height: 100px;
  padding:5px;
  width: 100%;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.4);
  animation: float 5s infinite;
}

.table-list-posts{
    
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 120px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
th {
  color:#D5DDE5;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:10px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
.table-list-users tr td:hover {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}

tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

.body-width{
    min-width: 50%;
}


/*==================================================*/
