/*
user_email:invalid + #emailCheck {
   display: none;
}

#user_email:valid + #emailCheck {
    display: inline;
}
*/

#emailCheck {
    display: none;
    height: 16px;
    width: 16px;
}
#passwordCheck {
    display: none;
    height: 16px;
    width: 16px;
}
#passwordConfirmationCheck {
    display: none;
    height: 16px;
    width: 16px;
}

#user_email {
    border: 1px solid #C5C3C6;
}

#user_password  {
    border: 1px solid #C5C3C6;
}

#user_password_confirmation  {
    border: 1px solid #C5C3C6C;
}


