


<div id="resumewrap">
	<div class="header-title">
		<div id="resume-text">BUILD A RESUME <span style="color: #6D7275">1.0</span></div>
		<h3><b>Creating a resume shouldn't suck</b></h3>
		<h4>Simply enter your information and get a beautifully formatted resume in seconds</h3>
		<br>
		<%= link_to 'START FILLING OUR YOUR RESUME NOW →', new_resume_path, class: " button btn-lg btn-default", style: "text-decoration: none" %>
	</div>
</div>

<div id="resumepicturewrap"></div>

<div id="resume-info-wrap">
    <div class="header-title">
        <h3 class="resume-title"><b>Here's how it works</b></h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="resume-paragraph">
                <div class="col-md-4">
                    <p style="font-size: 18px; font-weight: bold",  class="centered">Fill our your information</p>
                    <p style="font-size: 15px",  class="centered"> Only provide what you want on your resume. Leave the rest blank. It adapts based on what you provide. </p>
                </div>
                <div class="col-md-4">
                    <p style="font-size: 18px; font-weight: bold",  class="centered">One Time Design</p>
                    <p style="font-size: 15px",  class="centered"> We fine tune your resume to make sure it's ready to impress </p>
                </div>
                <div class="col-md-4">
                    <p style="font-size: 18px; font-weight: bold",  class="centered">Save As PDF</p>
                    <p style="font-size: 15px",  class="centered"> Download your resume as a PDF document. </p>
                </div>
            </div>
        </div>
    </div>
</div>